
<quill-editor  (onEditorCreated)="setUpEditor($event)">
</quill-editor>
<!-- <p>Content:{{title}}</p> -->

<p>Speech Received:{{speechData}}</p>
<p>Key Received:{{keyBoardData}}</p>

<p>Press Ctrl to Record</p>
<p>Release Ctrl to Stop</p>

<ol>
	<li>make text bold/italic</li>
	<li>copy/paste</li>
	<li>make size small/normal/large/huge</li>
	<li>make heading 1...6</li>
	<li>align to the center/left/right</li>
	<li>remove format</li>
	<li>next line/next num lines</li>
	<li>delete text</li>
	<li>previous(last) paragraph/previous(last) num paragraphs</li>
	<li>select previous(last) paragraph/select previous(last) num paragraphs</li>
	<li>next paragraph/next num paragraphs</li>
	<li>select next paragraph/select next num paragraphs</li>
</ol>

